.Instagram {
  background-color: #e1306c;
  color: white;
}
.read_more {
  background-color: #eeecec;
  border: none;
  color: #e1306c;
}
.Socials {
  margin: auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    & p {
      margin: 15px;
      text-align: center;
    }

    &.Twitter,
    &.YouTube {
      border: 1px solid black;
    }

    & button {
      margin-bottom: 20px;
      border-radius: 50px;
      width: 15vw;
      height: 5vh;
      background-color: black;
      color: white;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &.read_more {
        background-color: white;
        color: #e1306c;
      }
    }
  }
}
